<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js" type="application/javascript"></script>
    <script type='text/javascript'>
        // $(document).ready(function () {
        //     $(".dropdown").hover(function () {
        //         $(this).addClass("open");
        //     }, function () {
        //         $(this).removeClass("open");
        //     });
        // });
        // $(window).scroll(function () {
        //     //小屏幕下的导航条折叠
        //     if ($(window).width() < 768) {
        //         //点击导航链接之后，把导航选项折叠起来
        //         $("#navbar a").click(function () {
        //             $("#navbar").collapse('hide');
        //         });
        //         //滚动屏幕时，把导航选项折叠起来
        //         $(window).scroll(function () {
        //             $("#navbar").collapse('hide');
        //         });
        //     }
        // });
    </script>
</head>

<body>
<div th:fragment="nav">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/" class="navbar-brand">Learning Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">讨论区
<!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommend">课程推荐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/code">刷题</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campus">校园周边</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/share">资源共享</a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown dropdown-slim" th:if="${session.user != null && session.user.state == 0}">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">发帖 <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/publish?area=discuss" >讨论区</a>
                        <a class="dropdown-item" href="/publish?area=recommendation" >课程推荐</a>
                        <a class="dropdown-item" href="/publish?area=solution" >Coding</a>
                        <a class="dropdown-item" href="/publish?area=record" >校园周边</a>
                        <a class="dropdown-item" href="/publish?area=sharing" >资源共享</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link" href="/profile/replies">
                        <i class="fa fa-bell" style="font-size:20px;"></i>
                        <span class="badge" th:if="${session.user != null}" th:text="${session.unReadCount}"></span>
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-slim" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.getName()}"></span><span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="/profile/information">个人资料</a>
                        <a class="dropdown-item" href="/profile/questions">我的问题</a>
                        <a class="dropdown-item" href="/logout">退出登录</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${session.user == null}">
                    <a class="nav-link" href="/login">登录</a>
                </li>

            </ul>

        </div>
    </div>
</div>
</body>
</html>