<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学习生活交流论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/general.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/Administrators.js" type="application/javascript"></script>
</head>
<script>
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>
<!--首页讨论区-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="fa fa-list big-icon" aria-hidden="true" style="height: 38px; width: 38px"></span>课程推荐</h2>
            <hr>
            <div class="media post-list" th:each=" recommend: ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${recommend.user.avatarUrl}"
                             alt="这是一张标识图" style="width: 38px;height: 38px">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a th:if="${session.user != null && session.user.grade >= recommend.limitation}" th:href="@{'/recommend/' + ${recommend.id}}" th:text="${recommend.title}"></a>
                        <span th:if="${session.user == null || session.user.grade < recommend.limitation}" th:text="${recommend.title}"></span>
                        <a th:if="${session.user != null && session.user.id == 1}">
                            <span title="delete this question" class="fa fa-trash right-icon" th:data-id="${recommend.id}"
                                  onclick="deleteRecommend(this)"></span>
                        </a>
                        <a th:if="${session.user != null && session.user.id == 1 && recommend.user.state == 0}">
                            <span title="mute this user" class="fa fa-ban right-icon" th:user-id="${recommend.user.id}"
                                  onclick="ban(this)"></span>
                        </a>
                        <a th:if="${session.user != null && session.user.id == 1 && recommend.user.state == 1}">
                            <span title="reopen this post" class="fa fa-volume-up right-icon" th:user-id="${recommend.user.id}"
                                  onclick="unlock(this)"></span>
                        </a>
                    </h5>
                    <span style="font-size: 12px;font-weight: normal;color: #999">
                        <span th:text="${recommend.viewCount}"></span>次浏览 ·
                        <span th:text="${#dates.format(recommend.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>

            <nav class="inpage-nav">
                <ul class="pagination inpage-nav-ul">
                    <li class="page-item" th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/recommend(page=${pagination.page -1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'page-item active':'page-item'">
                        <a class="page-link" th:href="@{/recommend(page=${page})}" th:text="${page}">

                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/recommend(page=${pagination.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-top: 9px">
            <h3>热门话题</h3>
            <hr class="hot-posts-hr">
            <ul style="list-style: none; font-size:13px; padding-left: 0; line-height: 20px">
                <li class="hot-posts" th:each="hot : ${hots}">
                    <a th:if="${session.user != null}" th:href="@{'/recommend/'+${hot.id}}" th:text="${hot.title}"></a>
                    <span th:if="${session.user == null}" th:text="${hot.title}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>