<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentExMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.Comment">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="type" jdbcType="BIGINT" property="type" />
        <result column="commentator" jdbcType="BIGINT" property="commentator" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
        <result column="like_count" jdbcType="BIGINT" property="likeCount" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    </resultMap>
    <update id="incCommentCount" parameterType="com.example.demo.Model.Comment">
        update COMMENT
        set comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="incLike" parameterType="com.example.demo.Model.Comment">
        update COMMENT
        set like_count = like_count + #{likeCount,jdbcType=INTEGER}
        where id = #{id}
    </update>
</mapper>